body {
	background-image: url(img/body-bg8_360.png);
	font-size: 100%;
	font-family: sans-serif;
}
#Centre {
	background-color: #FFF;
	width: 1400px;
	height: 1120px;
	border: solid black 1px; 
	border-radius: 3px;
}
.header {
	margin-top: 5px;
	width: 99%;
	height: 80px;
	border: solid black 1px;
	margin-bottom:20px;
}
​
#Centre h1 {
	text-align: left;
	color: #CCC;
	text-shadow: 1px 1px black;
	margin-left: 50px;
}
#footer, .left, .right, .header, .middle {
	background-image: url(img/body-bg7_360.png);
	border-radius: 5px;
}
.left {
	margin-left: 5px;
	margin-top: 5px;
	float: left;
	display: inline-block;
	width: 680px;
	height: 900px;
	border: solid blue 1px;
}
.useless {
	display: inline-block;
	width: 10px;
	height: 10px;
}
img[value="1"] {
	margin-left: -20px;
	margin-top: -500px;
	position: absolute;
	width: 50px;
}
img[value="2"] {
	display: none;
}
.right {
	margin-top: 5px;
	margin-left: 5px;
	display: inline-block;
	width: 680px;
	height: 900px;
	border: solid green 1px;
}
#video, #canvas {
	border-radius: 5px;
}
#video {
	margin-top: 140px;
}
#snap {
	margin-top: 20px;
	width: 640px;
	height: 60px;
}
.picture {
	margin-top: 5px;
}
.images {
	height: 120px;
	border-radius: 5px;
	background-color: #FFFFFF;
	width: 660px;
	margin-top: 10px;
	border: solid orange 1px;
	overflow-y: scroll;
	overflow-x: hidden; 
}
#coucou {
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	float: left;
	display: inline-block;
	width: 100px;
	height: 100px;
	border: black solid 1px;
}
#historique {
	background-color: #FFFFFF;
	border: black solid 1px;
	margin-top: 10px;
	width: 660px;
	height: 250px;
	overflow-y: scroll;
	overflow-x: hidden; 
	border-radius: 5px;
}
#photo {
	display: inline-block;
	border: black solid 1px;
	height: 190px;
	width: 200px;
	float: left;
	margin-top: 15px;
	margin-left: 10px;
	margin-bottom: 5px;
}
.middle {
	border: solid black 1px;
	width: 1360px;
	height: 900px;
}
#footer {
	width: 99%;
	height: 80px;
	margin-top: 20px;
	border: black solid 1px;
}
.copyright {
	padding-top: 30px;
}
.button {
	display: inline-block;
	position: absolute;
	margin-top: 30px;
	margin-left: -610px;
}
@media screen and (max-width: 1400px) {
	.useless img[value="1"] {
		display: none;
	}
	.useless img[value="2"] {
		position: relative;
		display: initial;
		margin-left: -30px;
		margin-top: -15px;
		height: 50px;
	}
	#Centre {
		width: 700px;
		height: 1734px;
		border: solid black 1px; 
		border-radius: 3px;
	}
	.left {
​		display: block;
		float: none;
		display: block;
		width: 680px;
		height: 600px;
		border: solid blue 1px;
	}
	#video {
		margin-top: 10px;
	}
	.right {
		width: 680px;
		height: 900px;
		border: solid red 1px;
	}
	.useless {
		display: block;
		width: 10px;
		height: 10px;
	}
	.middle {
		border: solid black 1px;
		width: 680px;
		height: 1520px;
	}
	.button {
		display: inline-block;
		position: absolute;
		margin-top: 30px;
		margin-left: -265px;
	}
}